{% if machine == "desktop" %}
    #> /tmp/test_desktop.config
{% elif machine == "laptop" %}
    #> /tmp/test_laptop.config
{% endif %}
This is a test configuration file, this part should appear on all machines

{% if machine == "laptop" %}
This part should only appear on laptops
{% else %}
This part should not appear on laptops
{% endif %}

The value for the height variable is {{ height }}
The value for the width variable is {{ width }} which should have overriden the global value